*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
   
}
body{
    overflow:hidden ;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center ;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;

}
.logo :hover{
    transform: scale(1.1);
}